body::after {
  background-repeat: repeat-y;
  content: "";
  background-color: rgb(194, 194, 209);
  background-image: url(../images/bellevue-mall.jpg);
  background-size: 100%;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
}
h1 {
  font-size: 3em;
  text-align: center;
}
h3 {
  font-size: 1.5em;
  text-align: center;
}
#container {
  border: 2px rgb(255, 178, 102) solid;
  width: 800px;
  height: 250px;
  background-color: rgb(76, 153, 0);
  margin: auto;
  margin-top: 70px;

}
.products {
  border: 1px rgb(255, 178, 102) solid;
  width: 200px;
  height: 200px;
  text-align: center;
  margin-left: 50px;
  margin-top: 15px;
}
main {
  margin-top: 100px;
}

header {
  /* margin-left: 100px; */
}
#myChart {
  width: 900px;
  height: 300px;
  margin: auto;
  margin-top: 50px;
}

